*{
	box-sizing: border-box;;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Gotu', sans-serif;
}
body, html{
	background-color: white;
	margin: 10px;
	background-color:#E6E6E6;
} 
a {
	text-decoration: none;
	color: black;
}
.grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}
.grid h1{
	font-size: calc(3vw + 3vw);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

.grid_item{
	display: grid;
	grid-template-rows: max-content 200px auto; 
	overflow: hidden;
	height: 500px;
	border-radius: 10px;
	margin-top: 10px;
	padding:10px;
	transition: all 0.3s  ease 0s;
	box-shadow: inset -2px -2px 12px #FFF, inset 2px 2px 12px #A6A2A2,-6px -6px 16px #FFF, 6px 6px 16px #BFBFBF;
	border:2px;
	border-style: inset;
	border-color: #FFF #BFBFBF #BFBFBF #FFF;
}
.grid_item:hover{
	background-color:#E6E6E6;
	color: #363636;
	box-shadow: inset -2px -2px 6px #FFF, inset 2px 2px 6px #A6A2A2,-4px -4px 6px #FFF, 4px 4px 6px #BFBFBF;
	filter: grayscale(40%);
}
.grid_item:active{
	background-color:#D9D9D9;
	color: #333333; 
	box-shadow: inset 3px 3px 10px #686868, inset -3px -3px 10px #FFFFFF;
	filter: grayscale(80%);
}
.grid_item h2{
	margin: 2px;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
}
.grid_item img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: gray 4px solid;
	border-radius: 32px;
}
.grid_item p{
	margin:5px 5px 10px 10px;
    padding-top: 10px;
    text-align: justify;
}	
.top_menu{
	display: flex;
	flex-direction: row-reverse;
	padding-bottom: calc(2vh - 10px);
}
.navbar{
	display: block;
	flex:1;
}
.navbar_mobile{
	display: none;
	flex:1;
}
.menu{
	text-transform: uppercase;
	list-style-type: none;
	font-weight: bold;
	margin:auto;
}
.submenu {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
.submenu li{
	font-size: calc(12px + 1vh / 3  + (2vw - 16px));
	max-width: max-content;
	margin:auto;
}
.submenu li:nth-child(1){
	margin:auto;
	margin-left:0;
}
.submenu li a{
	/*margin: 0px 40px 0px 0px;*/
	border-radius: 15px;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
	font-weight: bold;
	transition: all 0.3s  ease 0s;
	box-shadow: inset -2px -2px 12px #FFF, inset 2px 2px 12px #A6A2A2,-6px -6px 16px #FFF, 6px 6px 16px #BFBFBF;
	border:2px;
	border-style: inset;
	border-color: #FFF #BFBFBF #BFBFBF #FFF;
}
.submenu li a:hover {
background-color:#E6E6E6;
	color: #363636;
	box-shadow: inset -2px -2px 6px #FFF, inset 2px 2px 6px #A6A2A2,-4px -4px 6px #FFF, 4px 4px 6px #BFBFBF;
}
.submenu li a:active {
	background-color:#D9D9D9;
	color: #333333; 
	box-shadow: inset 3px 3px 10px #686868, inset -3px -3px 10px #FFFFFF;
}
.submenu li a#clicked{
	filter: grayscale(90%);
	background-color:#D9D9D9 !important;
	color: #333333 !important; 
	box-shadow: inset 3px 3px 10px #686868, inset -3px -3px 10px #FFFFFF !important;
}
.menu a {
	font-size: calc(12px + 1vh / 3  + (2vw - 16px));
	font-family: 'Montserrat', sans-serif;
	user-select: none;
	font-weight: bold;
	border-radius: 15px;
	padding:10px;
	cursor: pointer;
	transition: all 0.3s  ease 0s;
	box-shadow: inset -2px -2px 12px #FFF, inset 2px 2px 12px #A6A2A2,-6px -6px 16px #FFF, 6px 6px 16px #BFBFBF;
	border:2px;
	border-style: inset;
	border-color: #FFF #BFBFBF #BFBFBF #FFF;
}
.menu a:hover{
	background-color:#E6E6E6;
	color: #363636;
	box-shadow: inset -2px -2px 6px #FFF, inset 2px 2px 6px #A6A2A2,-4px -4px 6px #FFF, 4px 4px 6px #BFBFBF;
}
.menu a:active{
	background-color:#D9D9D9;
	color: #333333; 
	box-shadow: inset 3px 3px 10px #686868, inset -3px -3px 10px #FFFFFF;
}
.menu a#clicked{
	filter: grayscale(90%);
	background-color:#D9D9D9 !important;
	color: #333333 !important; 
	box-shadow: inset 3px 3px 10px #686868, inset -3px -3px 10px #FFFFFF !important;
}
.grid_article{
	display: flex;
	flex-direction: column;
	width:800px;
	margin: auto;
	padding-top: 30px;
}
.grid_article .title{
	display: flex;
	flex-direction: column;
}
.grid_article .title h1{

	font-size: 3.2em;
	font-weight: bold;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}
.grid_article_item h2{
	font-size: 2.5em;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-top: 40px;	
	padding-bottom: 20px;
}
.no_radius_image{
	border-radius: 0px !important;
}
b.under_image{
	text-align: center;
	display: block;
	font-style: italic;
	margin-top: -10px;
	padding-bottom: 20px;
}
.grid_article .title a{
	font-size: 0.9em;
	margin-left: auto;
	padding-bottom: 80px;
}
.grid_article .grid_article_item{
	text-align: justify;
}
.grid_article .grid_article_item p{
	padding-bottom: 20px;
}
.grid_article .grid_article_item img{
	margin:auto;
	display: block;
    border-radius: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
	box-shadow: inset -6px -6px 20px #FFF, inset 6px 6px 20px #A6A2A2,-10px -10px 30px #FFF, 10px 10px 30px #BFBFBF;
	border:4px;
	border-style: inset;
	border-color: #FFF #BFBFBF #BFBFBF #FFF;
	max-width:100%;

}
@media screen and (max-width: 900px){
	.grid_item{
		height: 400px;
	}
	.submenu{
		flex-direction: row;
	}
	.submenu li{
		font-size:1.9em;
	}
	.navbar{
		display: none;
	}
	.navbar_mobile{
		display: block;
		flex:1;
	}
	.menu a{
		font-size:1.9em;
	}
	.submenu li a{
		margin: 0;
	}
	.grid_article{
		width: 70vw;
	}
	.grid_article .title h1{
		font-size: 2.4em;
	}
	.grid_article_item h2{
		font-size: 2em;
		padding-top: 20px;	
		padding-bottom: 10px;
	}


}
@media screen and (max-width: 500px){
	.grid_item{
		height: 400px;
	}
	.grid_item h2{
		font-size: 1em;
	}
	.submenu{
		flex-direction: row;
	}
	.submenu li{
		font-size: 1.3em;
	}
	.navbar{
		display: none;
	}
	.navbar_mobile{
		display: block;
		flex:1;
	}
	.top_menu{
		flex-direction: row-reverse;
	}
	.menu a{
		font-size:1.3em;
	}
	.submenu li a{
		margin: 0;
		margin-top:0;
	}
	.grid_article{
		width: 86vw;
	}
	.grid_article .title h1{
		font-size: 2em;
	}
	.grid_article_item h2{
		font-size: 1.6em;
		padding-top: 15px;	
		padding-bottom: 7px;
	}
}
@media screen and (max-width: 350px){
	.submenu li{
		padding-bottom:20px;
	}
	.grid_article{
		width: 70vw;
	}
}